<form method="post" action="/chickens">
  <ul>
    <li>
      <label for="chicken-name">Name</label>
      <input id="chicken-name" type="text" name="name" />
    </li>
    <li>
      <label for="chicken-weight">Weight</label>
      <input id="chicken-weight" type="number" name="weight" />
    </li>
    <li>
      <input type="submit" />
    </li>
  </ul>
</form>