<form method="POST" action="">
  <input type="text" name="name" value="<%= @car.name %>" />
  <input type="text" name="make" value="<%= @car.make %>" />
  <input type="text" name="model" value="<%= @car.model %>" />
  <input type="submit" />
</form>